// missing/broken flag icons
.fi-en {
    background-image: url($flag-icons-path + 'us.svg')
}

.fi-ko {
    background-image: url($flag-icons-path + 'kr.svg')
}

.fi-ja {
    background-image: url($flag-icons-path + 'jp.svg')
}

.fi-uk{
    background-image: url($flag-icons-path + 'gb.svg')
}

.fi-zh{
    background-image: url($flag-icons-path + 'cn.svg')
}